<footer>
  <div class="container ">
    <div class="footer-content">
        <div class="footer-logo">
            <img height="300px" width="300px" src="./assets/Log.png" alt="Logo de la Institución">
        </div>
        </div>
      
      <div class="footer-links">
        <ul>
          <div>

            <li><a href="#inicio">Inicio</a></li>
          </div>
          <div>

            <li><a href="#cursos">Cursos</a></li>
          </div>
          <div>

            <li><a href="#eventos">Eventos</a></li>
          </div>
          <div>
            <li><a href="#contacto">Contacto</a></li>
          </div>
          
        </ul>
    </div>
      <div class="footer-contact">
        <p>Contacto: <a href="mailto:info@institucion.edu">info@institucion.edu</a></p>
        <p>Teléfono: (123) 456-7890</p>
    </div>
  </div>

    <p>&copy; 2023 Institución Educativa. Todos los derechos reservados.</p>

  </footer>