 <div>
     <!-- <h2>Cursos Disponibles</h2> -->
     <div class="container">
     
         
         <div class="curso">
           <h2>Curso de Programación</h2>
           <p>Aprende a programar desde cero y desarrolla tus propias aplicaciones.</p>
           <p>Duración: 3 meses</p>
           <p>Costo: $200</p>
           <a href="#">Más información</a>
         </div>
     
         
         <div class="curso">
           <h2>Curso de Diseño Gráfico</h2>
           <p>Domina las herramientas de diseño y crea imágenes impactantes.</p>
           <p>Duración: 2 meses</p>
           <p>Costo: $150</p>
           <a href="#">Más información</a>
         </div>
     
         <div class="curso">
             <h2>Curso de Matematica</h2>
             <p>Domina las matematicas facilmente y conviertete en un profesional de los numeros.</p>
             <p>Duración: 5 meses</p>
             <p>Costo: $250</p>
             <a href="#">Más información</a>
           </div>
     
           <div class="curso">
             <h2>Curso de Fisica</h2>
             <p>Domina la fisica y todos sus componentes.</p>
             <p>Duración: 4 meses</p>
             <p>Costo: $200</p>
             <a href="#">Más información</a>
           </div>
     
           <div class="curso">
             <h2>Curso de Natacion</h2>
             <p>Quieres perder el miedo al agua?, Este curso es para ti.</p>
             <p>Duración: 6 meses</p>
             <p>Costo: $350</p>
             <a href="#">Más información</a>
           </div>
     
           <div class="curso">
             <h2>Curso de Electricidad</h2>
             <p>Quieres tener conocimientos de electricidad ven y aprende con nosotros.</p>
             <p>Duración: 4 meses</p>
             <p>Costo: $300</p>
             <a href="#">Más información</a>
           </div>
     
           <div class="curso">
             <h2>Curso de Redes</h2>
             <p>Te gustan las telecomunicaciones?, aprende con nosotros todo sobre las redes de Internet.</p>
             <p>Duración: 2 meses</p>
             <p>Costo: $150</p>
             <a href="#">Más información</a>
           </div>
     
           <div class="curso">
             <h2>Curso de Fotografia</h2>
             <p>Te gusta capturar los momentos de la vida?, Con nuestro curso de fotografia aprenderas a capturar de una manera unica.</p>
             <p>Duración: 2 meses</p>
             <p>Costo: $100</p>
             <a href="#">Más información</a>
           </div>
     
       </div>

 </div>
