body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    /* Estilos para los enlaces de navegación si los tienes */
  }
  
  main {
    padding: 20px;
  }
  
  #contactos {
    margin: 20px 0;
    border: 1px solid #ccc;
    width: 30rem;

  }
  
  .contacto {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contacto i {
    font-size: 20px;
    margin-right: 10px;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
}