<h1>Presentación de Profesores</h1>
<div class="grid">
    <div class="profesor">
        <div class="nombre">Nombre del Profesor 1</div>
        <div class="materia">Materia que imparte</div>
        <div class="biografia">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, dolorem nobis. Quas eaque nisi vitae, omnis culpa qui? Eius vero voluptatem maiores eos officiis repellendus veritatis voluptate sunt! Illum, neque?
        </div>
        <div class="contacto">
            Contacto: correo@profesor1.com | Teléfono: 123-456-7890
        </div>
    </div>

    <div class="profesor">

        <div class="nombre">Nombre del Profesor 2</div>
        <div class="materia">Materia que imparte</div>
        <div class="biografia">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, dolorem nobis. Quas eaque nisi vitae, omnis culpa qui? Eius vero voluptatem maiores eos officiis repellendus veritatis voluptate sunt! Illum, neque?
        </div>
        <div class="contacto">
            Contacto: correo@profesor2.com | Teléfono: 987-654-3210
        </div>
    </div>
    <div class="profesor">
        <div class="nombre">Nombre del Profesor 1</div>
        <div class="materia">Materia que imparte</div>
        <div class="biografia">
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi ipsa commodi maxime, quod omnis dolorem tempore, et itaque quo, iusto expedita. Velit itaque reprehenderit praesentium temporibus atque? Nesciunt, expedita reprehenderit!
        </div>
        <div class="contacto">
            Contacto: correo@profesor1.com | Teléfono: 123-456-7890
        </div>
    </div>

    <div class="profesor">

        <div class="nombre">Nombre del Profesor 2</div>
        <div class="materia">Materia que imparte</div>
        <div class="biografia">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, dolorem nobis. Quas eaque nisi vitae, omnis culpa qui? Eius vero voluptatem maiores eos officiis repellendus veritatis voluptate sunt! Illum, neque?
        </div>
        <div class="contacto">
            Contacto: correo@profesor2.com | Teléfono: 987-654-3210
        </div>
    </div>

</div>