<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Menú Institución Educativa</title>

</head>
<body>
  <div class="menu">
<div class="log">
  <img src="./assets/Log.png" alt="">
</div>
    <ul>
      <li><a href="/home">Inicio</a></li>
      <li><a href="/curso">Cursos</a></li>
      <li><a href="/profesores">Profesores</a></li>
      <li><a href="/evento">Eventos</a></li>
      <li><a href="/estudiantes">Estudiantes</a></li>
      <li><a href="/comunidad">Comunidad</a></li>
      <li><a href="/administracion">Administracion</a></li>
      <li><a href="/contacto">Contacto</a></li>

    </ul>
  </div>
</body>
</html>
