<header>
    <h1>Unidad Educativa - Noticias</h1>
  </header>
  
  <nav>
    <!-- Puedes agregar enlaces a otras secciones de la página aquí -->
  </nav>
  
  <main>
    <section id="noticias">
      <div class="noti">

        <div>
  
          <article>
            <h2>Título de la noticia 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequatur dicta vitae facilis. Est modi ipsam vero nulla. Quaerat quo beatae nemo, quisquam eius dignissimos dolorum nostrum iste recusandae soluta?</p>
            <p class="fecha">Fecha: 17 de julio de 2023</p>
          </article>
        </div>
        <div>
  
          <article>
            <h2>Título de la noticia 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequatur dicta vitae facilis. Est modi ipsam vero nulla. Quaerat quo beatae nemo, quisquam eius dignissimos dolorum nostrum iste recusandae soluta?</p>
            <p class="fecha">Fecha: 16 de julio de 2023</p>
          </article>
        </div>
        <div>
  
          <article>
            <h2>Título de la noticia 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequatur dicta vitae facilis. Est modi ipsam vero nulla. Quaerat quo beatae nemo, quisquam eius dignissimos dolorum nostrum iste recusandae soluta?</p>
            <p class="fecha">Fecha: 16 de julio de 2023</p>
          </article>
        </div>
        <div>
  
          <article>
            <h2>Título de la noticia 4</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequatur dicta vitae facilis. Est modi ipsam vero nulla. Quaerat quo beatae nemo, quisquam eius dignissimos dolorum nostrum iste recusandae soluta?</p>
            <p class="fecha">Fecha: 16 de julio de 2023</p>
          </article>
        </div>
        <div>
  
          <article>
            <h2>Título de la noticia 5</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequatur dicta vitae facilis. Est modi ipsam vero nulla. Quaerat quo beatae nemo, quisquam eius dignissimos dolorum nostrum iste recusandae soluta?</p>
            <p class="fecha">Fecha: 16 de julio de 2023</p>
          </article>
        </div>
        <div>
  
          <article>
            <h2>Título de la noticia 6</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequatur dicta vitae facilis. Est modi ipsam vero nulla. Quaerat quo beatae nemo, quisquam eius dignissimos dolorum nostrum iste recusandae soluta?</p>
            <p class="fecha">Fecha: 16 de julio de 2023</p>
          </article>
        </div>
      </div>
      