<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Institución Educativa Las Pencas</title>
</head>
<body>
  <header>
    <h1>Institución Educativa Las Pencas</h1>
  </header>

  
  <main >
    <div class="titulo">

      <h2>Bienvenidos a nuestra institución educativa</h2>
    </div>
    <div class="main">

      <div class="img1">
        <img height="500px" width="500px" src="./assets/imagen.jpeg" alt="">
      </div>
      <div class="text">

        <p>Somos una Unidad Educativa que siempre está innovando en educación e infraestructura, contamos con docentes y autoridades altamente capacitados.

          En octubre de 1993, la Comunidad de las Madres de las Pencas fundó la Escuela para niños y niñas y el Colegio Las Pencas solo para señoritas en la ciudad de Cuenca. Desde su fundación, implementó métodos activos de enseñanza-aprendizaje acordes con las exigencias y necesidades de la época.</p>
      </div>
    </div>
  </main>
<div class="img2">
  <img src="./assets/institucion.jpg" alt="">
</div>
  

  
 
</body>
</html>
