<main>
    <section id="eventos">
        <h2>Próximos Eventos</h2>
        
        <ul>
            <div class="eventos">
            <div>
                    <li>
                        <h3>Evento 1</h3>
                        <p>Fecha: DD/MM/AAAA</p>
                        <p>Hora: HH:MM</p>
                        <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>

                </div>

            <div>

                <li>
                    <h3>Evento 2</h3>
                    <p>Fecha: DD/MM/AAAA</p>
                    <p>Hora: HH:MM</p>
                    <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
            </div>
            <div>

                <li>
                    <h3>Evento 3</h3>
                    <p>Fecha: DD/MM/AAAA</p>
                    <p>Hora: HH:MM</p>
                    <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
            </div>
            <div>

                <li>
                    <h3>Evento 4</h3>
                    <p>Fecha: DD/MM/AAAA</p>
                    <p>Hora: HH:MM</p>
                    <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
            </div>

            <div>

                <li>
                    <h3>Evento 5</h3>
                    <p>Fecha: DD/MM/AAAA</p>
                    <p>Hora: HH:MM</p>
                    <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
            </div>

            <div>

                <li>
                    <h3>Evento 6</h3>
                    <p>Fecha: DD/MM/AAAA</p>
                    <p>Hora: HH:MM</p>
                    <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
            </div>
                <!-- Agregar más eventos aquí -->
            </div>
            </ul>
    </section>
</main>