body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    margin-top: 3rem;
}
header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    
}
li{
    border: 1px solid #ccc;
    padding: 1rem;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

#eventos {
    margin-bottom: 30px;
    
}
.eventos{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

}